{% extends 'main/layout.html' %}

{% block title %}{{ news.titel }}{% endblock %}

{% block content %}
{% if messages %}
<div class="message">
    <ul class="message">
        <li>{% for message in messages %}{{ message }}{% endfor %}</li>
    </ul>
</div>
{% endif %}
<div class="detail_view">
    <h2 class="article-title">{{ news.titel }}</h2>
    {% if news.photo %}
    <img src="/media/{{news.photo}}" alt="Изображение статьи" class="PhotoWH">
    {% endif %}
    <br>
    Автор: {{ news.author }} | {{ news.date_create }}<br>
    <div class="art-div-d"><p class="article-description-d">{{ news.intro }}</p></div>
    <p class="article-description-df">{{ news.full_text }}</p>
    <br>
    <a href="/news/{{ news.slug }}/update" class="btn btn-warning">Редактировать статью</a></br>
    <a href="/news/{{ news.slug }}/delete" class="btn btn-warning">Удалить статью</a>
    <br><br><br>
</div>
{% endblock %}