{% extends 'main/layout.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
    <div class="news-title-center">Новости:</div>
</hr>
    {% for el in news %}
    <div class="article">
        <h2 class="article-title">{{ el.titel }}</h2>
        <p class="article-description">{{ el.intro }}</p>
        <img src="/img/logo.jpg" alt="Изображение статьи">
        <p class="article-time"><span>Время публикации: {{ el.date }}</span></p>
        <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Читать статью</a>
    </div>
    {% endfor %}
    <br><br><br>
{% endblock %}