{% extends 'main/layout.html' %}

{% block title %}Модерация{% endblock %}

{% block content %}
<div class="news-title-center">Новости без модерации:</div>
</hr>
{% for el in news %}
{% if not el.is_modarated %}
<div class="article">
    <div class="in_article">
        <h2 class="article-title">{{ el.titel }}</h2>
        <div class="article-description">{{ el.intro }}</div>
        <p class="article-time"><span>{{ el.date_create }}</span></p>
        <a href="/news/{{ el.slug }}/update_moderator" class="btn btn-warning detail_a_down">Модерация статьи</a>
    </div>
</div>
{% endif %}
{% endfor %}
<br><br><br>
{% endblock %}