{% extends 'main/layout.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
    <div class="news-title-center">Новости:</div>
</hr>
{% if news %}
    {% for el in news %}
    {% if el.is_modarated %}
    <div class="article">
        <div class="in_article">
            <h2 class="article-title">{{ el.titel }}</h2>
            <div class="article-description">{{ el.intro }}</div>
            <p class="article-time"><span>{{ el.date_create }}</span></p>
            <a href="/news/{{ el.slug }}" class="btn btn-warning detail_a_down">Читать статью</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <div style="text-align: center; font-size: 24px; margin: 10px;">Новостей нет</div>
    {% endif %}
    <br><br><br>
{% endblock %}