{% extends 'main/layout.html' %}

{% block title %}Модерация{% endblock %}

{% block content %}
<div class="news-title-center">Новости без модерации:</div>
</hr>
{% for el in news %}
{% if not el.is_modarated %}
<div class="article">
    <h2 class="article-title">{{ el.titel }}</h2>
    <p class="article-description">{{ el.intro }}</p>
    <p class="article-description">{{ el.full_text }}</p>
    {% if el.photo %}
    <img src="/media/{{el.photo}}" alt="Изображение статьи">
    {% else %}
    Фото нет
    {% endif %}
    {{ el.author }}
    <p class="article-time"><span>Время публикации: {{ el.date_create }}</span></p>
    <a href="{% url 'news-update-moderator' el.id %}" class="btn btn-warning">Читать статью</a>
</div>
{% endif %}
{% endfor %}
<br><br><br>
{% endblock %}