{% extends 'main/layout.html' %}

{% block title %}Модерация{% endblock %}

{% block content %}
    <div class="div-center">
        <h1>Опубликовать</h1>
        <form class="input" method="POST">
            {% csrf_token %}

            <label>Заголовок:</label>
            {{ form.titel }}<br>
            <label>Краткое описание:</label>
            {{ form.intro }}<br>
            <label>Полный текст:</label>
            {{ form.full_text }}<br>
            <label>Фото:</label>
            {{ form.photo }}<br>
            <label>Одобрить?:</label>
            {{ form.is_modarated }}<br>
            <button class="btn btn-success" style="float: center;" type="submit">Опубликовать</button><br>
        </form>
        <a href="/news/{{ el.slug }}/delete" class="btn btn-warning">Удалить статью</a>
    </div>
{% endblock %}