{% extends 'main/layout.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <div class="div-center">
        <h1>Авторизация</h1>
        <form class="loginandregister" method="POST">
            {% csrf_token %}
            {% for f in form %}
            <p>{{ f }}</p>
            <div style="color: red;">{{ f.errors }}</div>
            {% endfor %}
            <button class="btn btn-success" type="submit">Авторизоваться</button>
        </form>
    </div>
{% endblock %}